<!DOCTYPE HTML>
<html>
<head>
  <title>{{ title }}</title>
  <!--<link rel="stylesheet" href="http://malenah-portal.appspot.com/css/style.css">-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
<nav></nav>
<h1>{{ header_title }}</h1>
<details>
  <summary>What is MALENAH and what does it stand for?</summary>
  MALENAH stands for Mobile Ally for LGBT People, Enhancing Via A Network, Access to Healthcare.
  MALENAH's mission is to close the gap of healthcare disparity in the LGBT population.
</details>
{% block content %}

{% endblock %}
<footer class="">Last Accessed: {{ last_accessed }}</footer>
</div>
</body>
</html>
