{% extends "index.html" %}
{% block content %}

{% if record_type %}
<h3>You {{action_done}} the following record ({{record_type.name}}):</h3>
<table border="1">
  {% if record_type.type|string() == "healthcare_provider"|string() %}
  <tr>
    <td>First Name:</td>
    <td>{{ first_name }}</td>
  </tr>
  <tr>
    <td>Last Name:</td>
    <td>{{ last_name }}</td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>{{ phone }}</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>{{ email }}</td>
  </tr>
  <tr>
    <td>Website:</td>
    <td>{{ website }}</td>
  </tr>
  <tr>
    <td>Best Time to Contact You:</td>
    <td>{{ best_time }}</td>
  </tr>
  <tr>
    <td>Designation:</td>
    <td>{{ designation }}</td>
  </tr>
  <tr>
    <td>Services:</td>
    <td>
      <ul>
        {%for s in my_services%}
        <li>{{s.name}}</li>
        {%endfor%}
      </ul>
    </td>
  </tr>
  {% elif record_type.type|string() == "designation"|string() %}
  <tr>
    <th>Designation:</th>
    <td>{{ designation }}</td>
  </tr>

  {% elif record_type.type|string() == "service" %}
  <tr>
    <th>Service: </th>
    <td>{{service}}</td>
  </tr>
  {% else %}
    <tr><td>Invalid form submission. Please try again.</td></tr>
  {% endif %}
{% else %}
<h3>Nothing new recorded</h3>
{%endif%}
</table>


<a href="/">Back to Home</a>
{% endblock %}
